name: CI

on:
  pull_request:
    branches: [ "main", "master" ]

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
          
      - name: Check formatting with Black
        run: black ./ --verbose --check
        
      - name: Lint with Ruff
        run: ruff check ./

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
          
      - name: Run tests with coverage
        run: |
          set -o pipefail
          python -m pytest --junitxml=report.xml --cov --cov-report term --cov-report xml:coverage.xml | tee pytest-coverage.txt
          
      - name: Comment Coverage
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./report.xml
